<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>CSCI5308 - Group Formation Tool</title>
	</head>
	<body>
		<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
		<div sec:authorize="isAuthenticated()">
			<h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</div>
<h1>
<label>Create Survey</label>
</h1>
<form th:action="@{/survey/addquestion}" method="POST">	
	<label>Banner ID:</label>	        
	<input type="text" name="bannerID" id="bannerID" th:value="${#httpServletRequest.remoteUser}" readonly/>
	<br />
	<br />
	<label>Course ID:</label>
	<input type="text" name="courseID" id="courseID" th:value="${courseId}" readonly/>
	<br />
	<br />
	<label>Enter Survey Title:</label>
	<input type="text" name="surveyTitle" id="surveyTitle"  required/>
	<br />
	<br />
	<button type="submit">Add Questions</button>
</form>
</body>
</html>